*,
*::before,
::after {
	box-sizing: border-box;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.App-header {
	background-color: #282c34;
	display: grid;
	grid-template-rows: 2;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	font-size: calc(25px);
	color: white;
}
.result_box {
	display: flex;
	justify-content: center;
	text-align: center;
}
.result_box_card {
	margin: 2px;
}
.pokemon_card {
	border: 5px solid;
	text-align: center;
}
.pokemon_card_type {
	display: flex;
	justify-content: center;
}

.pokemon_card_img {
	width: 50%;
}
