*,
*::before,
::after {
	box-sizing: border-box;
	font-family: "pokemon", "Arial Narrow", Arial, sans-serif;
}
@font-face {
	font-family: "pokemon";
	src: url("../src/font/Pokemon\ Classic.ttf") format("truetype");
}
.App-header {
	background-color: #282c34;
	display: grid;
	grid-template-rows: 2;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	color: white;
}
.result_box {
	display: flex;
	justify-content: center;
	text-align: center;
	font-family: pokemon;
}
.result_box_card {
	margin: 10px;
}
.pokemon_card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 5px solid;
}
.pokemon_card_type {
}
.pokemon_card_type_image {
}
