* {
  margin: auto;
  padding: auto;
}
@font-face {
  font-family: pokemon;
  src: url("./font/Pokemon\ Classic.ttf");
}
body {
  margin: 0;
  font-family: pokemon, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.result_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0;
}
.result_box_card {
  text-align: center;
  width: 100%;
}
.result_box_card_name {
  padding: 5px;
  border: 1px solid red;
  border-radius: 10px;
}
.pokemon_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.pokemon_card_top {
  display: flex;
  gap: 5px;
}
.pokemon_card_type_image {
  width: 5rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
